@import url(/src/css/variable.css);

body {
    margin: 0;
}

header {
    display             : flex;
    position            : fixed;
    flex-direction      : row;
    justify-content     : end;
    width               : 100%;
    height              : var(--header-height);
    background-color    : var(--base-color);
}

header .searchBar {
    display             : flex;
    justify-content     : center;
    align-items         : center;
    width               : 70%;
}

header .searchBar .searchBarFrame {
    width               : 100%;
    padding             : 0.5rem 1rem;
    border-radius       : 9999px;
    border              : solid 1px #000;
    background-color    : #fff;
}

header .searchBar .searchBarFrame input {
    width               : 90%;
    height              : 4rem;
    border              : none;
    margin              : 0;
    font-size           : 2rem;
    background-color    : #0000
}

header .searchBar .searchBarFrame input:focus {
    outline             : none;
}



header .advancedSearch {
    width               : 20%;
}

header .advancedSearch button {
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
    width               : 100%;
    height              : 100%;
    padding             : 0;
    margin              : 0;
    border              : none;
    background-color    : #0000;
}

header .advancedSearch .filterIcon {
    display             : flex;
    justify-content     : center;
    align-items         : center;
    width               : 100%;
    height              : 50%;
}

header .advancedSearch .filterIcon img {
    height              : 100%;
}

header .advancedSearch .filterText {
    width               : 100%;
    height              : 20%;
    font-size           : 1.5rem;
    color               : #fff;
}