@import url(/src/css/variable.css);

body {
    margin              : 0;
}

header {
    display             : flex;
    position            : fixed;
    flex-direction      : row;
    justify-content     : end;
    width               : 100%;
    height              : var(--header-height);
    background-color    : var(--base-color);
    z-index             : 9999;
}

header .searchBar {
    display             : flex;
    justify-content     : center;
    align-items         : center;
    width               : 70%;
}