#modal {
    display             : none;
    position            : fixed;
    bottom              : 0;
    width               : 100%;
    height              : 32svh;
    background-color    : #fff;
    border-radius       : 8px 8px 0 0;
    overflow-y          : scroll;
}

#modal #closeModal {
    display             : flex;
    justify-content     : right;
    width               : 90%;
    margin              : 0 auto;
}

#modal #closeModal button {
    font-size           : 2rem;
    border              : none;
    background-color    : #0000;
    padding             : 0;
    margin              : 0;
}

#modal #modalContent {
    position            : relative;
    width               : 80%;
    margin              : 0 auto;
}

#modal #modalContent #shopTitle h2 {
    margin              : 0;
}